@font-face {
  font-family: "AcuminProExtraCondensedSemibold";
  src: url("../public/assets/fonts/AcuminVariableConcept.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/assets/fonts/Poppins-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --titleFont: "AcuminProExtraCondensedSemibold";
  --textFont: "Poppins";

  --font-size-ref: 1rem;

  --font-weight-S: 400;

  --mainColor: #fb793f;
  --secondColor: #4e4a4a;

  --bckgColor: #f8f9fa;
  --bckgColorOrange: #ffd6c6;
  --bckgColorOpacity: #f8f9fada;
  --bckgColorOrangeOpacity: #ffd6c690;
  --veever-light-orange: #f59e3f;
  --veever-pink: #f74aa1;
  --veever-gradient: linear-gradient(to right, #f74aa1, #fb793f);
  --veever-green: #7bb471;
  --veever-light-green: #eef5ed;

  --errorColor: red;
  --color-label: rgba(0, 0, 0, 0.87);
  --errorColor: rgba(255, 0, 0, 0.753);
  --color-input: #1c2025;
  --bckgColor-input: #fff;
  --light: white;
  --dark: black;

  --border-ref: 8px;
  --border-XL: calc(var(--border-ref) * 2);
  --border-input: 1px solid #dae2ed;
  --border-weight: 1px;

  --spacing-ref: 1rem;
  --spacing-S: calc(var(--spacing-ref) * 0.5);

  --font-size-XS: calc(var(--spacing-ref) * 0.8);

  --spacing-letter-ref: 1px;

  --padding-input: 8px 12px;
  --margin-input-form: 0px 0px 6.4px;

  --box-shadow-input-focus: 0 0 0 3px #80bfff;
  --box-shadow-input: 0 2px 2px #f3f6f9;
  --box-shadow-button: 0 2px 2px #00000033;
  --box-shadow-soft: 0px 0px 2px 2px #00000033;
  --box-shadow-softer: 0px 0px 8px 0px #00000033;

  --width-input-form: 20rem;
  --width-label-text: 40ch;
  --height-input-form: 2.5rem;
}
