@import url("@src/variables.css");

.swiper-header {
  margin: var(--spacing-ref);
  border-radius: calc(var(--border-ref) * 2);
  box-shadow: var(--box-shadow-softer);
}

.logo-swiper {
  width: 30%;
}
.card-map {
  display: grid;
  padding: calc(var(--spacing-ref) * 1);
  justify-content: center;
}

.swiper-container {
  background-color: var(--bckgColorOrangeOpacity);
  border-radius: calc(var(--border-ref) * 2.5);
  padding: calc(var(--spacing-ref) * 1.5);
  grid-row: 1;
  grid-column: 1;
}

.swiper-container h1 {
  font-family: var(--titleFont);
  margin: 0.2rem 0 1rem 0;
}

figcaption.tag-container p {
  background-color: var(--bckgColorOpacity);
  padding: 0.3rem;
  font-weight: 500;
}

.swiper-card {
  background-color: var(--bckgColor);
  border: calc(var(--border-weight) * 2) solid;
  border-radius: calc(var(--border-ref) * 2);
  border-color: var(--mainColor);
  padding: var(--spacing-ref);
  height: 80vh;
}

.swiper-card p {
  text-align: start;
  font-size: calc(var(--font-size-ref) * 2);
}

.img-swiper {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  cursor: grab;
  border-radius: calc(var(--border-ref) * 1.2);
  &:active {
    cursor: grabbing;
  }
}

.tag-container,
.img-swiper {
  grid-row: 1;
  grid-column: 1;
}

.tag-img-container {
  display: grid;
  height: 55vh;
}

.tag-container {
  color: var(--secondColor);
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 1rem;
}

.tag-container p {
  align-content: center;
  padding: var(--spacing-ref);
  margin: 0.3rem;
  border-radius: calc(var(--border-ref) * 0.7);
  font-family: var(--textFont);
  font-size: calc(var(--font-size-ref) * 0.8);
  margin-bottom: calc(var(--spacing-ref) * 0.4);
  background: var(--thirdColor-opacity);
}

.tag-container p:nth-child(1) {
  grid-column-start: 1;
  grid-row-start: 4;
  align-self: flex-end;
}
.tag-container p:nth-child(2) {
  grid-row-start: 5;
}
.tag-container p:nth-child(3) {
  align-self: flex-end;
  grid-column-start: 2;
  grid-row-start: 4;
  /* height: calc(var(--spacing-ref) * 3); */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.swiper-btn:last-child {
  font-family: var(--textFont);
  background-image: var(--veever-gradient);
  color: var(--light);
  grid-column: span 2;
  border-radius: calc(var(--border-ref) * 2);
  padding: var(--padding-input);
  font-size: var(--font-size-ref);
}

.swiper-btn {
  font-size: calc(var(--font-size-ref) * 1.5);
  background-color: unset;
  border: none;
  cursor: pointer;
  letter-spacing: var(--spacing-letter-ref);
}

.swiper-btn a {
  text-decoration: none;
  color: var(--aliceBlueColor);
  font-size: calc(var(--font-size-ref) * 0.8);
  font-family: var(--textFont);
}
