@import url("@src/variables.css");

.stay-container {
  font-family: var(--textFont);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}
h2.title-calendar {
  font-family: var(--titleFont);
  color: var(--secondColor);
  padding: var(--spacing-ref);
}

div.react-datepicker {
  border: 0px;
  box-shadow: var(--box-shadow-softer);
  color: var(--secondColor);
  font-family: var(--textFont);
}

.react-datepicker__month-container {
  float: none;
}

.calendar,
.group-choice,
.group-number,
.results {
  font-family: var(--textFont);
  color: var(--secondColor);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: var(--spacing-ref);
  width: 100%;
  max-width: calc(var(--spacing-ref) * 25);
}

select.stay-select {
  box-shadow: var(--box-shadow-softer);
}

.restaurant-scheduler {
  background-color: var(--bckgColorOrangeOpacity);
  box-shadow: var(--box-shadow-softer);
}

.error-message {
  color: var(--errorColor);
  font-size: var(--font-size-ref);
  text-align: left;
}

.checkbox-stay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--spacing-ref);
  width: 100%;
  max-width: calc(var(--spacing-ref) * 25);
}

.checkbox-stay-input {
  margin-right: var(--spacing-ref);
}

.title-checkbox {
  text-align: left;
  width: 100%;
  max-width: calc(var(--spacing-ref) * 25);
  margin-bottom: calc(var(--spacing-ref) * 0.5);
}

.stay-label {
  font-size: var(--font-size-ref);
  margin-bottom: calc(var(--spacing-ref) * 0.5);
  text-align: left;
}

.stay-select,
.stay-button {
  padding: calc(var(--spacing-ref) * 0.75);
  font-size: calc(var(--font-size-ref) * 0.9);
  width: 100%;
  max-width: calc(var(--spacing-ref) * 25);
  text-align: left;
  cursor: pointer;
  background-color: var(--bckgColor);
  border: solid var(--bckgColor);
  border-radius: var(--border-ref);
}
