@import url("@src/variables.css");

.loginMain h2,
.loginMain p,
.loginMain a {
  color: var(--secondColor);
}

.loginMain h2 {
  font-family: var(--titleFont);
  font-size: 1.25rem;
  font-weight: bolder;
}

.loginMain p,
.loginMain a {
  font-family: var(--textFont);
}

.loginMain {
  display: flex;
  flex-direction: column;

  max-width: 20rem;

  padding: 1rem;

  text-align: center;
}

.loginLogo {
  background-color: var(--bckgColor-input);
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-button);
  width: 18rem;
  height: fit-content;

  padding: 0 4rem;

  margin-bottom: 1.5rem;
}

.loginCTA {
  width: 100%;
  height: 2rem;

  border: none;

  border-radius: var(--border-ref);
  background: var(--veever-gradient);
  box-shadow: var(--box-shadow-button);

  color: var(--bckgColor);
  font-size: .65rem;
  font-weight: bold;
}

@media screen and (min-width: 321px) {
  .loginMain {
    margin: 5rem auto;
  }
}
