@import url("@src/variables.css");
.preheader-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: var(--box-shadow-softer);
}
.city-select {
  margin: var(--spacing-ref);
  height: calc(var(--spacing-ref) * 3);
  width: calc(var(--spacing-ref) * 10);
  border: 1px solid var(--secondColor);
  border-radius: calc(var(--spacing-ref) * 2);
  padding: 0 var(--spacing-ref);
  background-color: transparent;
  font-size: var(--spacing-ref);
  text-align: center;
  appearance: none;
}

.logobox {
  width: 20%;
  align-content: center;
}

.logo {
  /* height: calc(var(--spacing-ref) * 6);
  width: calc(var(--spacing-ref) * 6); */
  width: 100%;
}

button.logout {
  font-family: var(--textFont);
  background-color: var(--light);
  color: var(--secondColor);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 1rem auto auto 1rem;
  font-size: var(--spacing-ref);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--box-shadow-softer);
}
