@import url("@src/variables.css");
main.catalog {
  background-color: var(--bckgColor);
}
.catalog-boxes-form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--border-ref);
  text-align: center;
  margin-top: var(--border-ref);
  max-width: calc(var(--spacing-ref) * 25);
  padding: calc(var(--spacing-ref) * 2);
}
.date-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-ref);
}
.catalog-title {
  font-family: var(--titleFont);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--font-size-ref) * 2.5);
  margin-bottom: var(--border-ref);
}
.catalog-icon {
  width: calc(var(--spacing-ref) * 3);
  height: calc(var(--spacing-ref) * 3);
}
.catalog-boxes {
  cursor: pointer;
  border: solid var(--dark) calc(var(--border-ref) * 0.2);
  border-radius: calc(var(--border-ref) * 2);
  display: flex;
  align-items: center;
  grid-column: span 1;
  justify-content: center;
  padding: var(--spacing-ref);
  font-size: calc(var(--font-size-ref) * 1.25);
  background-color: var(--bckgColor);
  color: var(--dark);
  box-shadow: var(--box-shadow-input);
  transition: 0.6s;
}

input[type="checkbox"] {
  margin-right: var(--border-ref);
  cursor: pointer;
  transform: scale(1.5);
}

.catalog-emoji-checkbox {
  background: none;
  border: none;
  font-size: calc(var(--font-size-ref) * 1.5);
  cursor: pointer;
  padding: calc(var(--spacing-ref) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-ref) * 0.5);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.catalog-emoji-checkbox.checked {
  opacity: 1;
  border: solid var(--secondColor) calc(var(--border-ref) * 0.1);
  border-radius: var(--border-ref);
}

.catalog-emoji-checkbox .label {
  font-size: var(--font-size-ref);
}

section.filter-boxe {
  background-color: var(--bckgColorOrangeOpacity);
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

section.filter-boxe h1 {
  font-family: var(--titleFont);
  color: var(--secondColor);
  font-size: calc(var(--font-size-ref) * 2.1);
  font-weight: bold;
  margin: 1rem 0 0 0;
}
