@import url("@src/variables.css");

placeholder {
  letter-spacing: var(--spacing-letter-ref);
}

.MuiFormLabel-colorPrimary {
  color: var(--color-label) !important;
}

.logoForm {
  width: 70%;
}

.headerForm {
  text-align: center;
  font-family: var(--titleFont);
  font-size: calc(var(--font-size-ref) * 1.2);
  padding: var(--spacing-ref);
}

.headerForm h1 {
  text-align: center;
  font-family: var(--titleFont);
  color: var(--secondColor);
  font-size: calc(var(--font-size-ref) * 2);
}

form.createForm div.formGroup {
  display: flex;
  padding: 0.3rem 1rem;
}

form.createForm div.formGroup div.base-Input-root {
  width: 100%;
}

form.createForm div.formGroup div.base-Input-root input.base-Input-input {
  width: 100%;
  border-radius: 15px;
  border: 0px;
  box-shadow: var(--box-shadow-softer);
}

form.createForm select.css-1umofxt {
  width: 100%;
  border-radius: 15px;
  border: 0px;
  box-shadow: var(--box-shadow-softer);
}

form.createForm input.css-19jpywm {
  width: 100%;
  border-radius: 15px;
  border: 0px;
  box-shadow: var(--box-shadow-softer);
}

form.createForm div.css-16ghnu3-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  border-radius: 15px;
  border: 0px;
  box-shadow: var(--box-shadow-softer);
}

form.createForm label.css-nwsdb5-MuiFormLabel-root {
  margin: 0 0 1rem 0;
}

#demo-radio-buttons-group-label {
  text-align: left;
}

.checkLabel {
  text-align: center;
  width: 30ch;
}
.createForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: var(--spacing-ref);
}

.createForm input {
  margin-bottom: calc(var(--spacing-ref) * 0.4);
}

.createForm label {
  letter-spacing: var(--spacing-letter-ref);
  font-family: var(--textFont);
  align-content: flex-start;
}

form.createForm button.btnAcceptForm {
  grid-column: span 2;
  background-image: var(--veever-gradient);
}

.password-label {
  margin: auto;
}

.checkBox {
  gap: var(--spacing-ref);
  padding: var(--spacing-ref);
}

.error {
  font-size: calc(var(--font-size-ref) * 0.8);
  width: 80%;
  color: var(--errorColor);
  text-align: center;
  font-family: var(--textFont);
}

.errors {
  list-style: none;
  color: var(--errorColor);
  font-family: var(--textFont);
  font-size: calc(var(--font-size-ref) * 0.8);
  justify-items: center;
}

.css-97ewkx {
  align-self: center;
}

.error::before {
  content: "❌";
}

.react-datepicker__view-calendar-icon input {
  padding: var(--padding-input) !important;
}

.birthdayCalendar {
  text-align: center;
  font-family: var(--textFont);
}

.react-datepicker__month-select {
  text-align: center;
}
.react-datepicker__current-month {
  text-align: center;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart {
  padding: var(--padding-input) !important;
}

.react-datepicker__input-container input {
  border-radius: var(--border-ref);
  width: var(--width-input-form);
  border: var(--border-input);
  font-size: calc(var(--font-size-ref) * 0.875);
  font-weight: var(--font-weight-S);
  letter-spacing: var(--spacing-letter-ref);
  line-height: 1.5;
  padding: var(--padding-input);
  box-shadow: var(--box-shadow-input);
}

.react-datepicker__input-container input:focus {
  border-color: var(--border-color-input-focus);
  box-shadow: var(--box-shadow-input-focus);
}

.react-datepicker__input-container input:hover {
  border-color: var(--border-color-input-focus);
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  border-radius: var(--border-ref);
  padding: calc(var(--spacing-ref) * 0.2);
  margin: calc(var(--spacing-ref) * 0.3);
}

@media screen and (min-width: 900px) {
  .createForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
  .checkContact {
    grid-column: span 2;
  }
  form.createForm button.btnAcceptForm {
    grid-column: span 2;
    background-image: var(--veever-gradient);
  }

  .checkCGU {
    grid-column: span 2;
  }
  .MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart {
    grid-column: span 2;
  }
  .phone {
    grid-column: span 2;
  }
}
