@import url("@src/variables.css");

.socialLogin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.socialLogin li {
  list-style-type: none;
}

.socialLogin li:first-of-type {
  text-align: left;
}

.socialLogin li:last-of-type {
  text-align: right;
}

.socialLogin li button {
  background: var(--bckgColor-input);
  border-radius: var(--border-ref);
  border: none;
  box-shadow: var(--box-shadow-button);

  height: 2.25rem;
  width: 7rem;
}

.socialLogin li button img {
  height: 1.25rem;
}
