@import url("@src/variables.css");

.loginForm {
  width: 18rem;
}

.loginForm p {
  margin-bottom: 1rem;
}

.loginForm label {
  display: none;
}

.loginForm input {
  margin-bottom: 1rem;
  padding-left: 1rem;

  height: 2rem;
  width: 100%;

  background-color: var(--bckgColor-input);
  border: none;
  border-radius: var(--border-ref);
  box-shadow: var(--box-shadow-button);
}

.loginForm #email {
  border: none;
}

.errors {
  list-style-type: none;
}

.error {
  color: var(--errorColor);
  font-size: var(--font-size-XS);
}

.error::before {
  content: "❌ ";
}

.loginForm .loginCTA {
  margin-bottom: .5rem;
}
