@import url("@src/variables.css");

.passwordForgotten {
  font-size: calc(var(--spacing-ref) * 0.75);
  text-align: start;
  margin-left: calc(var(--spacing-ref) * 0.5);
  margin-bottom: calc(var(--spacing-ref) * 1.25);
}
