@import url("@src/variables.css");

.signUp {
  margin-top: calc(var(--spacing-ref) * 1.25);
  background-color: var(--bckgColorOrange);
  width: 18rem;
  border-radius: var(--border-ref);
  padding: 1rem;
}

.signUp h2 {
  margin-bottom: .25rem;
}

.signUp p {
  margin-bottom: 1rem;
}
